<h1><%= @book.title %></h1>

<p><strong>Author:</strong> <%= @book.author.name %></p>
<p><strong>Genre:</strong> <%= @book.genre.name %></p>
<p><strong>Description:</strong> <%= @book.description %></p>
<p><strong>Published Date:</strong> <%= @book.published_date %></p>
